Package: com.murkaska.virtualcampro
Name: VirtualCamPro
Depends: mobilesubstrate, preferenceloader
Version: 253.0.0
Architecture: iphoneos-arm64
Description: Virtual Camera for iOS (Forensic Logger Edition)
Maintainer: MurkAskA
Author: MurkAskA
Section: Tweaks
